.nuxt-content-highlight {
  position: relative;
}

.nuxt-content-highlight .filename {
  position: absolute;
  right: 0;
  margin-right: 1rem;
}

/* je trouvé cette selecteur en la cherchant dans l'especteur et grâce a l'aide de la documentation de Debbie pour nuxt-content */
pre[class*="language-"] {
  background-color: #dddcdc;
}
